{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
  <ol>
    <li><a href="/docs">Digital Marketplace</a></li>
  </ol>

</div>

  <div class="grid-row">
    <div class="column-two-thirds">
    {% if opportunities[data['opportunity_id']] %}

      <div class="banner-success-without-action">
        <p class="banner-message">
          You've updated the status for '{{opportunities[data['opportunity_id']].name}}'
        </p>
      </div>

    {% endif %}


    <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
      <p class="context">
        laurence.berry+12@digital.cabinet-office.gov.uk
      </p>
      <h1>
        Laurence Test
      </h1>
    </header>


    </div>
  </div>
</main>

{% endblock %}


