{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="">Digital Marketplace</a></li>
      <li><a href="/award/dashboard/award">Your account</a></li>
      <li><a href="/award/overview/award?opportunity_id={{data['opportunity_id']}}">{{opportunities[data['opportunity_id']].name}}</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/award/overview/award" method="post" class="form">

        <h1 class="heading-large">
          Why?
        </h1>
        <br>

       <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Have you awarded a contract for '{{opportunities[opportunity_2_id].name}}'</legend>

            <div class="" id="why-not" aria-hidden="true">
<!--               <div class="multiple-choice">
                <input id="radio-3" type="radio" name="radio-group-2" value="in progress">
                <label for="radio-3">Still in progress</label>
              </div> -->
              <div class="multiple-choice">
                <input id="radio-4" type="radio" name="radio-group-2" value="no supplier">
                <label for="radio-4">There were no suitable suppliers</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-5" type="radio" name="radio-group-2" value="withdrawn">
                <label for="radio-5">Requirement cancelled</label>
              </div>
            </div>

          </fieldset>

          <input type="submit" class="button-save" value="Submit">
          <a href="javascript:history.back();">Previous page</a>
        </div>
      </form>


    </div>
  </div>
</main>

{% endblock %}


