{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/award/email/award?opportunity_id=1">Digital Marketplace</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/award/details/award" method="post" class="form">

        <h1 class="heading-large">
          Did you award a contract for '{{opportunities[data['opportunity_id']].name}}'?
        </h1>
        <br>

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Have you awarded a contract for '{{opportunities[opportunity_id].name}}'</legend>

            <div class="multiple-choice" data-target="who">
              <input id="radio-1" type="radio" name="award-status" value="yes">
              <label for="radio-1">Yes</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="who" aria-hidden="true" style="margin-bottom: 25px">
              <label class="form-label" for="nationalities-other-country">Who did you award the contract to?</label>
              <br>

              {% for application in opportunities[data['opportunity_id']].applications %}

                <div class="multiple-choice">
                  <input id="radio-{{application.id}}" type="radio" name="awarded_supplier" value="{{application.name}}">
                  <label for="radio-{{application.id}}">{{application.name}}</label>
                </div>
              {% endfor %}

            </div>

            <div class="multiple-choice" data-target="why-not">
              <input id="radio-2" type="radio" name="award-status" value="no">
              <label for="radio-2">No</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="why-not" aria-hidden="true">
              <label class="form-label" for="nationalities-other-country">Do you still want to award this contract?</label>
              <br>
              <div class="multiple-choice">
                <input id="radio-3" type="radio" name="radio-group-2" value="in progress">
                <label for="radio-3">Yes</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-4" type="radio" name="radio-group-2" value="withdrawn">
                <label for="radio-4">No</label>
              </div>
            </div>

          </fieldset>
        </div>
        <div class="form-group">
          <input type="submit" class="button" value="Save and continue">
        </div>
      </form>


    </div>
  </div>
</main>

{% endblock %}


