{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
  <ol>
    <li><a href="/docs">Digital Marketplace</a></li>
  </ol>

</div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/award/dashboard/award" method="post" class="form">

        <h1 class="heading-large">
          Who did you award the contract for '{{opportunities[data['opportunity_id']].name}}'
        </h1>
        <br>

        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Did you award a contract for '{{opportunities[data['opportunity_id']].name}}'</legend>

            {% for application in opportunities[data['opportunity_id']].applications %}

              <div class="multiple-choice">
                <input id="radio-{{application.id}}" type="radio" name="awarded_supplier" value="{{application.name}}">
                <label for="radio-{{application.id}}">{{application.name}}</label>
              </div>
            {% endfor %}

          </fieldset>
        </div>
        <div class="form-group">
          <input type="submit" class="button" value="Save and continue">
        </div>
        <br>
        <a href="javascript:history.back();">Previous page</a>
      </form>


    </div>
  </div>
</main>

{% endblock %}


