{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="">Digital Marketplace</a></li>
      <li><a href="/award/dashboard/award">Your account</a></li>
      <li><a href="/award/overview/award?opportunity_id={{data['opportunity_id']}}">{{opportunities[data['opportunity_id']].name}}</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/award/dashboard/award" method="post" class="form">

        <h1 class="heading-large">
          Tell us about your contract with {{data['awarded_supplier']}}
        </h1>
        <br>

        <div class="form-group">
          <fieldset>
          
            <div class="question" id="dateq1">

                <label for="input-dateq1">
                  <span class="question-heading">
                    What's the start date?
                  </span>
                  
                </label>

                <fieldset class="inline-block" id="dateq1" >

                    <div class="date-field-container" style="width: 65px; display: inline-block; margin-right: 15px">
                      <label for="input-dateq1-day">Day</label>
                      <input
                        id="input-dateq1-day"
                        name="dateq1-day"
                        type="text"
                        maxlength=2
                        class="text-box date-input-day-month"
                        value=""
                        
                      />
                    </div>
                  
                    <div class="date-field-container" style="width: 65px; display: inline-block; margin-right: 15px">
                      <label for="input-dateq1-month">Month</label>
                      <input
                        id="input-dateq1-month"
                        name="dateq1-month"
                        type="text"
                        maxlength=2
                        class="text-box date-input-day-month"
                        value=""
                        
                      />
                    </div>
                  
                    <div class="date-field-container" style="width: 100px; display: inline-block;">
                      <label for="input-dateq1-year">Year</label>
                      <input
                        id="input-dateq1-year"
                        name="dateq1-year"
                        type="text"
                        maxlength=4
                        class="text-box date-input-year"
                        value=""
                        
                      />
                    </div>
                  
                </fieldset>
              
            </div>




            <div class="question" id="price-60">
              <label for="input-price-60">
                <span class="question-heading">
                  What’s the value?
                </span>
                <span class="text-box-unit-qualifier">
                  (in pounds)
                </span>
                
              </label>
              
              
              
              <label for="input-price-60" class="text-box-unit">
                £
              </label>
              <input
                type="number"
                class="text-box-with-unit-before"
                name="price"
                id="input-price-60"
                value=""
                
              />
            </div>

          </fieldset>
        </div>
        <div class="form-group">
          <input type="submit" class="button" value="Submit">
        </div>
        <br>
        <a href="javascript:history.back();">Previous page</a>
      </form>


    </div>
  </div>
</main>

{% endblock %}


