{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <li><a href="/award/email/award?opportunity_id=1">Digital Marketplace</a></li>
    </ol>
  </div>
  
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Log in to the Digital Marketplace
      </h1>
<!--         {% if data['award-status'] == "yes" %}
          <form action="/award/resubmit/award" method="post" class="form">
        {% else %}
          <form action="/award/status/award" method="post" class="form">
        {% endif %} -->

      <form action="/award/status/award" method="post" class="form">
        <div class="form-group">
          <label class="form-label" for="first-name-2">Email address</label>
          <input class="form-control" id="first-name-2" name="first-name-2" type="text">
        </div>
        <div class="form-group">
          <label class="form-label" for="last-name-2">Password</label>
          <input class="form-control" id="last-name-2" name="last-name-2" type="text">
        </div>
        <div class="form-group">
          <input type="submit" class="button" value="Log in">
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}


