{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
          <p class="context">
            Overview
          </p>
          <h1>
            {{opportunities[data['opportunity_id']].name}}
          </h1>
        </header>
        <ol class="instruction-list large-steps">
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">
              Write requirements
            </h2>
            <br>
            <p>Done</p>
            
          </li>

          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body ">
              Set how you’ll evaluate suppliers
            </h2>
            
              <br>
              <p>Done</p>
            

          </li>
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body "> Publish requirements </h2>


            
              <p class="instruction-list-item-extra-information">
              Decide your shortlist, evaluation and supplier start dates.</p>

              <ul class="instruction-list-item-extra-information instruction-list-item-top">
<!--                 <li> 
                  <span class="tick">
                    <img src="https://www.dropbox.com/s/26tp2p4oodcybiw/tick.svg?dl=1" alt="done" width="15" height="14">
                  </span>             
                  <a class="instruction-list-item-extra-information  instruction-list-item-top" href="">
                    Describe question and answer session
                  </a>
                </li> -->
                <li> 

                  
<!--                   <a class="instruction-list-item-extra-information  instruction-list-item-top" href="../timeline/dos-opportunities?opportunity=1">
                    Review and publish your requirements
                  </a> -->

                  <a class="instruction-list-item-extra-information  instruction-list-item-top" href="/award/opportunity/award">
                    View your opportunity
                  </a>
                </li>
<!--                 <li>
                  <a href="../publish/dos-opportunities?opportunity=1&published=false">Review and publish your requirements</a>
                </li> -->
              </ul>
            



          </li>
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">
              Answer supplier questions
            </h2>

            
              <p class="instruction-list-item-extra-information">When you’ve published your requirements, you must answer all supplier questions.</p>
              <ul class="instruction-list-item-extra-information instruction-list-item-top">
                <li>
                  <a href="">How to answer supplier questions</a>
                </li>
              </ul>
            

          </li>
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">
              Shortlist
            </h2>
            <p class="instruction-list-item-extra-information">After the application deadline, shortlist the suppliers who applied.</p>
            <ul class="instruction-list-item-extra-information instruction-list-item-top">
              <li>
                <a href="../responses/opportunities-with-evidence?filetype=ggl&amp;opportunity=1">View and shortlist suppliers</a>
              </li>
            </ul>
          </li>
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">
              Evaluate
            </h2>
            <p class="instruction-list-item-extra-information">
              Evaluate your shortlist using the criteria and methods you published with your requirements.
            </p>
            <ul class="instruction-list-item-extra-information instruction-list-item-top">
              <a href="https://www.gov.uk/guidance/how-to-evaluate-digital-outcomes-and-specialists-suppliers">How to evaluate suppliers</a>
            </ul>
          </li>
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">
              Award a contract
            </h2>
            <p class="instruction-list-item-extra-information">You must give your chosen supplier a contract before they start work.</p>
            <ul class="instruction-list-item-extra-information instruction-list-item-top">
              <li>
                <a href="https://www.gov.uk/guidance/how-to-award-a-contract-when-you-buy-services">How to award a contract</a>
              </li>
              <li>
                <a href="https://www.gov.uk/government/publications/digital-outcomes-and-specialists-call-off-contract">View the Digital Outcomes and Specialists contract</a>
              </li>
              <li>
                <a href="/award/status/award">Tell us who won the contract</a>
              </li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
    <div class="grid-row">
     <div class="column-two-thirds">
       <a href="">Delete</a>
     </div>
   </div>
 </main>

{% endblock %}
