{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="">Digital Marketplace</a></li>
      <li><a href="/award/dashboard/award">Your account</a></li>
      <li><a href="/award/overview/award?opportunity_id={{data['opportunity_id']}}">{{opportunities[data['opportunity_id']].name}}</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/shortlist/check_your_answers/award" method="post" class="form">

        <h1 class="heading-large">
          Who did you shortlist?
        </h1><br>
        <p class="question-advice">Select the suppliers you shortlisted for {{opportunities[data['opportunity_id']].name}}.</p>
        <br>
        <div class="form-group">
          <fieldset>

            <div class="" id="who" aria-hidden="true" style="margin-bottom: 25px">
              <label class="form-label visually-hidden" for="shortlisted_suppliers">Who won the '{{opportunities[data['opportunity_id']].name}}' contract?</label>

              {% for application in opportunities[data['opportunity_id']].applications %}

                <div class="multiple-choice">
                  <input id="checkbox-{{application.id}}" type="checkbox" name="shortlisted_suppliers" value="{{application.name}}">
                  <label for="checkbox-{{application.id}}">{{application.name}}</label>
                </div>


              {% endfor %}

            </div>

          </fieldset>
        </div>
        <div class="form-group">
          <input type="submit" class="button-save" value="Save and continue">
        </div>
      </form>


    </div>
  </div>
</main>

{% endblock %}


