{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="">Digital Marketplace</a></li>
      <li><a href="">Supplier opportunities</a></li>
      <li><a href="">Newham Digital Customer Programme Discovery Phase</a></li>
    </ol>

  </div>


    <div class="banner-success-without-action">
      <p class="banner-message">
        Your application for ‘Newham Digital Customer Programme Discovery Phase’ has been submitted.
      </p>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <header class="page-heading-smaller">
          <h1>
            Your application
          </h1>
        </header>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="padding-bottom-small">
          <h2 class="summary-item-heading">What happens next</h2>
        </div>
        <h3 class="heading-small">The buyer creates a shortlist</h3>
        <p class="padding-bottom-x-small">
          When the opportunity closes the buyer will score your evidence. They’ll create a shortlist of the most suitable suppliers.
        </p>
        <p class="padding-bottom-medium">
          It takes at least 3 days for a buyer to create a shortlist and it can take several weeks.
        </p>

        <div class="padding-bottom-small">
          <p class="heading-small">If you're shortlisted</h3>
        </div>
        <p class="padding-bottom-medium">
          If you’re one of the shortlisted suppliers, you'll go through to the next stage, known as the evaluation stage.
        </p>

        <div class="padding-bottom-small">
          <h4 class="heading-small">If you're not shotlisted</h3>
        </div>
        <p class="padding-bottom-medium">
          If you’re not successful, the buyer will let you know and may give you feedback on the evidence you provided.
        </p>

        <div class="padding-bottom-small">
          <h3 class="heading-small">The buyer evaluates the shortlisted suppliers</h3>
        </div>
        <div class="explanation-list padding-bottom-medium">
          <p class="lead">
            At the evaluation stage, the buyer will get in touch to ask you to provide:
            </p><ul class="list-bullet">
              <li>further evidence of your skills and experience</li>
              <li>your proposal</li>
            </ul>
          <p></p>
        </div>
        <p class="padding-bottom-medium">
          Your evidence must describe the skills and experience of the people who’ll be working on the project.
        </p>
        <div class="explanation-list padding-bottom-medium">
            <p class="lead">The buyer will use the assessment methods listed in their requirements to evaluate your evidence. They’ll use:</p>
            <ul class="list-bullet">
              <li>interview</li>
            </ul>
        </div>
        <p>
          The buyer will use the weightings they published with their requirements to score the suppliers who reach the evaluation stage. They’ll provide feedback if you’re unsuccessful.
          </p>
      </div>
      <div class="column-one-whole padding-bottom">
        <h2 class="summary-item-heading" id="opportunity-attributes-1">
          Contact email
        </h2>
        <span></span>
        <h2 class="summary-item-heading" id="opportunity-attributes-1">
          Earliest start date
        </h2>
        <span></span>

        
      
    
    <h2 class="summary-item-heading" id="opportunity-attributes-1">
      Essential skills and experience
    </h2>
    <table class="summary-item-body">
      <caption class="visuallyhidden">
        Important dates
      </caption>
      <thead class="summary-item-field-headings-visible">
      <tr>
          <th scope="col" class="summary-item-field-heading-first">
              Requirement
          </th>
          <th scope="col" class="summary-item-field-heading">
              Evidence
          </th>
          <th scope="col" class="summary-item-field-heading">
              <span class="hidden">Action</span>
          </th>
      </tr>
    </thead>
      <tbody>
        
        <tr class="summary-item-row">
          <td class="summary-item-field-first">
            <span>Demonstrable experience of delivering successful Pre Discovery and Discovery outcomes to support complex digital transformation in a service delivery organisation - 5 points.</span>
          </td>
          <td class="summary-item-field">
            <span></span>
          </td>
        </tr>
        
        <tr class="summary-item-row">
          <td class="summary-item-field-first">
            <span>Demonstrable experience of delivering savings through digital transformation projects including quick wins and actionable roadmaps through the Discovery phase - 5 points.</span>
          </td>
          <td class="summary-item-field">
            <span></span>
          </td>
        </tr>
        
        <tr class="summary-item-row">
          <td class="summary-item-field-first">
            <span>Full understanding and demonstrable experience of research methodologies and data collection techniques for complex, high volume, citizen facing, transactional services - 5 points.</span>
          </td>
          <td class="summary-item-field">
            <span></span>
          </td>
        </tr>
        
        <tr class="summary-item-row">
          <td class="summary-item-field-first">
            <span>Able to deploy an effective team ready to hit the ground running no later than 15th August 2016 - 5 points.</span>
          </td>
          <td class="summary-item-field">
            <span></span>
          </td>
        </tr>
        
        <tr class="summary-item-row">
          <td class="summary-item-field-first">
            <span>Demonstrable experience of working with users and stakeholders at all levels in complex political environments - 2 points.</span>
          </td>
          <td class="summary-item-field">
            <span></span>
          </td>
        </tr>
        
        <tr class="summary-item-row">
          <td class="summary-item-field-first">
            <span>Demonstrable experience of carrying out research with a diverse mix of users including those with low digital literacy and assisted digital needs - 2 points.</span>
          </td>
          <td class="summary-item-field">
            <span></span>
          </td>
        </tr>
        
        <tr class="summary-item-row">
          <td class="summary-item-field-first">
            <span>Demonstrable experience of knowledge sharing and skills transfer with in-house teams so as to build sustainable capability - 2 points.</span>
          </td>
          <td class="summary-item-field">
            <span></span>
          </td>
        </tr>
        
        <tr class="summary-item-row">
          <td class="summary-item-field-first">
            <span>Demonstrable experience of working successfully with incumbent legacy vendors and in-house ICT as part of Discoveries to support digital transformation - 2 points.</span>
          </td>
          <td class="summary-item-field">
            <span></span>
          </td>
        </tr>
        
        <tr class="summary-item-row">
          <td class="summary-item-field-first">
            <span>Demonstrable experience of delivering working prototypes during a discovery phase that exemplify the digital vision and strategy - 2 points.</span>
          </td>
          <td class="summary-item-field">
            <span></span>
          </td>
        </tr>
        
        <tr class="summary-item-row">
          <td class="summary-item-field-first">
            <span>Proven ability to lead and coach public sector organisations through the digital transformation process aligned with the Digital by Default standard - 2 point.</span>
          </td>
          <td class="summary-item-field">
            <span></span>
          </td>
        </tr>
        
      </tbody>
    </table>
    <h2 class="summary-item-heading" id="opportunity-attributes-1">
      Nice-to-have skills and experience
    </h2>
    <table class="summary-item-body">
      <caption class="visuallyhidden">
        Important dates
      </caption>
      <thead class="summary-item-field-headings-visible">
      <tr>
          <th scope="col" class="summary-item-field-heading-first">
              Requirement
          </th>
          <th scope="col" class="summary-item-field-heading">
              Evidence
          </th>
          <th scope="col" class="summary-item-field-heading">
              <span class="hidden">Action</span>
          </th>
      </tr>
    </thead>
      <tbody>
        
        <tr class="summary-item-row">
          <td class="summary-item-field-first">
            <span>Previous experience in public sector transformation programme - 1 point.</span>
          </td>
          <td class="summary-item-field">
            <span></span>
          </td>
        </tr>
        
        <tr class="summary-item-row">
          <td class="summary-item-field-first">
            <span>Strong experience of delivering projects in line with the Government Digital Service’s Design Principles and Digital Service Standard - 1 point.</span>
          </td>
          <td class="summary-item-field">
            <span></span>
          </td>
        </tr>
        
        <tr class="summary-item-row">
          <td class="summary-item-field-first">
            <span>Demonstrable experience of research methodologies; ethnography, open and closed card sorting, multivariate testing - 1 point.</span>
          </td>
          <td class="summary-item-field">
            <span></span>
          </td>
        </tr>
        
        <tr class="summary-item-row">
          <td class="summary-item-field-first">
            <span>Strong understanding of the approach other local authorities are taking with digital and of the benefits this provides - 1 point.</span>
          </td>
          <td class="summary-item-field">
            <span></span>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
  <div class="column-two-thirds normal-paragraph">
    <a href="/suppliers/applications/services/?framework_slug=dos2">
      Your Digital Outcomes and Specialists 2 applications
    </a>
  </div>
</div>

</main>

{% endblock %}


